* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a232ce3;
    color: #eee;
}
 
.roqqu {
    display: flex; 
    
}

 /* Side-Bar Section  */
 
.side-bar {
    padding: 15px 15px;
    /* display: flex; */
    flex-direction: column;
    width: 15%;
    background-color: #41435e;
    min-height: 100vh;
}
.side-bar img {
    width: 70px;
    height: 20px;
}

.overview h3 {
    color: #eee;
    font-size: 12px;
    padding: 20px 0;
}

.overview ul {
    list-style: none;
    padding-left: 15px;
    width: max-content;
   
}

.overview ul li {
    font-size: 12px;
    padding: 12px 15px;

}

.overview ul li:hover {
    background: linear-gradient(to right, hsl(241, 81%, 54%),hsl(310, 100%, 67%));
    border-radius: 8%;
}

.overview ul li a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
    letter-spacing: 1px;
}

.overview span {
    padding-left: 5px;
}

/* .dropdown {
    padding-left: 30px;
} */

/* Header Section */

.main-section {
    padding: 15px 30px;
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header-right{
    display: flex;
    justify-content: center;

}
    
.main-header-name img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.main-header-name span {
    font-size: 13px;
    padding-left: 7px;
}

.input-icon {
    padding-right: 105px;
    border-radius: 5%;
    padding-bottom: 15px;
}

input {
    padding: 7px;
    padding-right: 40px;
    background: #1a232ce3;
    border-radius: 10%;
}
.search {
    position: absolute;
    padding: 10px;
}

hr {
    border-bottom: 1px solid;
}

 /* Section Left */
 
.section-left h3 {
    font-size: 15px;
    padding: 15px 0;
}
.section-currency {
    display: flex;
}

.section-currency h1 {
    padding-right: 35px;
}

#currency {
    background: #1a232ce3;
    color: #eee;
    padding: 0 15px
}

.quick-action {
    display: flex;
    justify-content: space-between;
}

.quick-action h3 {
    padding-top: 45px;
}

.show-more {
    padding-top: 45px;
}

