* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1a232ec3;
    color: #eee;
}
 
.roqqu {
    display: flex; 
    
}

 /* Side-Bar Section  */
 
.side-bar {
    padding: 15px 15px;
    /* display: flex; */
    flex-direction: column;
    width: 15%;
    background-color: #41435e;
    min-height: 100vh;
}
.side-bar img {
    width: 70px;
    height: 20px;
}

.overview h3 {
    color: #eee;
    font-size: 12px;
    padding: 20px 0;
}

.overview ul {
    list-style: none;
    padding-left: 15px;
    width: max-content;
   
}

.overview ul li {
    font-size: 12px;
    padding: 12px 15px;

}

.overview ul li:hover {
    background: linear-gradient(to right, hsl(241, 81%, 54%),hsl(310, 100%, 67%));
    border-radius: 8%;
}

.overview ul li a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
    letter-spacing: 1px;
}

.overview span {
    padding-left: 5px;
}

/* .dropdown {
    padding-left: 30px;
} */

/* Header Section */

.main-section {
    padding: 15px 30px;
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header-right{
    display: flex;
    justify-content: center;

}
    
.main-header-name img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.main-header-name span {
    font-size: 13px;
    padding-left: 7px;
}

.input-icon {
    padding-right: 105px;
    border-radius: 5%;
    padding-bottom: 15px;
}

input {
    padding: 7px;
    padding-right: 40px;
    background: #1a232ce3;
    border-radius: 10%;
}
.search {
    position: absolute;
    padding: 10px;
}

hr {
    border-bottom: 1px solid;
}

/* Top Section  */
.top-section {
    display: flex;
}

 /* Section Left */
 
.section-left {
    width: 100%;
    padding-right: 20px;
}
.section-left h3 {
    font-size: 15px;
    padding: 15px 0;
}
.section-currency {
    display: flex;
}

.section-currency h1 {
    padding-right: 35px;
}

#currency {
    background: #1a232ec3;
    color: #eee;
    padding: 0 15px;
}

.quick-action {
    display: flex;
    justify-content: space-between;
}

.quick-action h3 {
    padding-top: 45px;
}

.show-more {
    padding-top: 45px;
}

 /* Assets */

 .assets {
    display: flex;
    justify-content: space-between;
    /* gap: 40px; */
 }

 .buy-assets {
    width: 120px;
    height: 100px;
    background-color: #3b434de3;
    padding: 15px 10px;
    border-radius: 5%;
    
 }

 .fas {
    font-size: 25px;
    padding-left: 10px;
 }

 .buy-assets h4 {
    padding-top: 25px;
    width: max-content;
    font-size: 12px;
 }

.vl {
    border-left: 1px solid #eee;
    height: 300px;
}

 /* Section right */

 .section-right {
    padding: 20px

 }

 .learn-more {
    padding: 15px;
    padding-top: 5px;
    border-radius: 5%;
    background: linear-gradient(to right, #ffe59f, #ff8fb5);
    height: 110px;
    width: 250px;
    margin-bottom: 20px;
    color: black;
 }

 .learn-more p {
    padding-bottom: 10px;
    padding-top: 10px;
 }
 .learn-more2 {
    padding: 15px;
    padding-top: 5px;
    border-radius: 5%;
    background: linear-gradient(to right, #8585eb, #ff8fb5);
    height: 110px;
    width: 250px;
    margin-bottom: 20px;
    color: black;
 }

 .learn-more, .learn-more2 h3 {
    font-size: 15px;
    padding-bottom: 10px;

 }

 .learn-more, .learn-more2 p {
    font-size: 10px;
    padding-bottom: 5px;
    line-height: 1.5;
 }

 button {
    background-color: black;
    color: #eee;
    border-radius: 10px;
    padding: 5px 15px;

 }

.bottom-section h3 {
    padding: 25px 0;
    font-size: 15px;
} 

.table {
    background-color: #3b434de3;
    height: 35vh;
    width: 100%;
}

.number {
    padding: 25px; 
}


.coin {
    width: 35px;
    height: 30px;
    padding-right: 10px;
}
.name {
    padding-right: 140px;
    align-items: center;
    display: flex;
}

