* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1c2127;
}
 
.body {
    display: flex;
    width: 250px;
    background-color: #2a2c44;
    min-height: 100vh;
}

.side-bar img {
    width: 90px;
    height: 30px;
}


